.footer-list {
    margin-top: 34px;
    .container {
        section {
            background: $footer-fon;
            display: flex;
            justify-content: center;
            gap: 56px;
            img {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }
}