.header-list {
    .container {
    
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: Monda-Bold;
                margin-top: 43px;
                margin-bottom: 43px;
            }
    
            input {
                width: 100%;
                height: 10px;
                padding-left: 16px;
                background-color: $inp;
                border: none;
                outline: none;
                &:first-of-type {
                    margin-bottom: 26px;
                }
            } 
            
        }

        button {
            display: flex;
            margin: 0 auto;
            font-family: Monda-Regular;
            background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
            box-shadow: 0px 4px 4px #ACD4E1;
            border-radius: 25px;
            padding: 16px 122px 16px 122px;
            border: none;
            margin-top: 37px;
            &:hover {
                cursor: pointer;
            }
         }
    }
}