.main-list {
    margin-top: 60px;
    .container {
        
        .main-text {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom:1px solid black ;
            div {
                display: flex;
                
                p {
                    align-self: center;
                    padding-left: 21px;
                }
            }
        }
        .lst {
            padding-left: 22px;

        }
        p {
            padding-top: 5px;
        }
    }
}