* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

body {
    background: #E5E5E5;
}

.full-width {
    width: 100%;
}



$footer-fon: #ACD4E1;
$circle: #C8E3EC;
$inp: #A8D2A5;
$trash: #BC0808;
$pen: #156B2D;

@font-face {
    font-family: Monda-Bold;
    src: url(../fonts/Monda-Bold.ttf);
}



@font-face {
    font-family: Monda-Regular;
    src: url(../fonts/Monda-Regular.ttf);
}


@import "header-list.scss";

@import 'main-list.scss';

@import 'footer-list.scss';