* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 1280px;
  height: auto;
  margin: 0 auto; }

body {
  background: #E5E5E5; }

.full-width {
  width: 100%; }

@font-face {
  font-family: Monda-Bold;
  src: url(../fonts/Monda-Bold.ttf); }
@font-face {
  font-family: Monda-Regular;
  src: url(../fonts/Monda-Regular.ttf); }
.header-list .container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header-list .container section h2 {
    font-family: Monda-Bold;
    margin-top: 43px;
    margin-bottom: 43px; }
  .header-list .container section input {
    width: 100%;
    height: 10vh;
    padding-left: 16px;
    background-color: #A8D2A5;
    border: none;
    outline: none; }
    .header-list .container section input:first-of-type {
      margin-bottom: 26px; }
.header-list .container button {
  display: flex;
  margin: 0 auto;
  font-family: Monda-Regular;
  background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
  box-shadow: 0px 4px 4px #ACD4E1;
  border-radius: 25px;
  padding: 16px 122px 16px 122px;
  border: none;
  margin-top: 37px; }
  .header-list .container button:hover {
    cursor: pointer; }

.main-list {
  margin-top: 60px; }
  .main-list .container .main-text {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; }
    .main-list .container .main-text div {
      display: flex; }
      .main-list .container .main-text div p {
        align-self: center;
        padding-left: 21px; }
  .main-list .container .lst {
    padding-left: 22px; }
  .main-list .container p {
    padding-top: 5px; }

.footer-list {
  margin-top: 34px; }
  .footer-list .container section {
    background: #ACD4E1;
    display: flex;
    justify-content: center;
    gap: 56px; }
    .footer-list .container section img {
      padding-top: 24px;
      padding-bottom: 24px; }

/*# sourceMappingURL=style.css.map */
